extends ~@/pages/layout/layout

block title
  title

block container

  - const data = require('./data.json')


  #market-pg

    .filter

      +select('Категории', 'category', data.categorySelect)

      +date-select


    .content
      +indicators-section(data.indicatorsData, true, 'market-pg')

      +area-chart
