#settings-pg {
}

// Mixes

.form {
  max-width: 385px;
}

.settings-pg__radio-input {
  margin-bottom: 30px;
}

.settings-pg__checkbox-input {
  margin-bottom: 30px;
}

#settings-pg {
  .input {
    margin-bottom: 30px;
  }
}

#settings-pg .alert {
  margin-bottom: 30px;
}
