extends ~@/pages/layout/layout

block title
  title

block container

  - const data = require('./data.json')

  #shop-pg

    +tabs(data.tabs, 'shop-pg')

    .content
      .tab(data-tab='common')
        +indicators-section(data.indicatorsData, true, 'shop-pg')
        +area-chart


      .tab.tab--hidden(data-tab='part')
        +indicators-section(data.indicatorsData, true, 'shop-pg')
        +area-chart


      .tab.tab--hidden(data-tab='assortment')
        +indicators-section(data.indicatorsData, true, 'shop-pg')
        +area-chart
