extends ~@/pages/layout/layout

block title
  title

block container

  - const data = require('./data.json')


  #product-pg

    +tabs(data.tabs, 'product-pg')

    .content
      .tab(data-tab='about')

        .double-screen
          .product-content

            img.product-content__img(src='http://avatars.mds.yandex.net/get-mpic/1642819/img_id4198408474769271048.jpeg/orig' alt='Изображение товара')
            +list(data.list, 'product-pg')

          +area-chart(null, 'product-pg')

        +table(data.tableProduct, true, 'product-pg')

        +reviews('product-pg')

        


      .tab.tab--hidden(data-tab='others')

        +table(data.tableProduct, true, 'product-pg')

        +reviews('product-pg')

