#reputation-pg {
}

// Mixes

.reputation-pg__indicators-section {
  margin-bottom: 10px;
}

.reputation-pg__area-chart {
  margin-bottom: 30px;
}

.reputation-pg__table {
  margin-bottom: 30px;
}

.reputation-pg__table--margin {
  margin-top: 30px;
}
